body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(179, 179, 179);
  color: rgb(0, 158, 0);
}

.element {
  text-align: center;
  margin-top: 20px;
  color: rgb(39, 39, 39);
}

.countdown {
  display: flex;
  text-align: center;
  max-width: fit-content;
  font-size: 20px;
  margin: 10px auto 0 auto;
  color: rgb(0, 100, 146);
}

.input {
  font-size: 25px;
  display: flex;
  text-align: center;
  margin: 10px auto 0 auto;
  max-width: fit-content;
  color: rgb(39, 39, 39);
}

#iname {
  width: 100px;
}

.result {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  color: rgb(39, 39, 39);
}

.wrong {
  color: rgb(168, 13, 13);
  font-size: 25px;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  margin-left: -50px;
  font-size: 20px;
}

#button2 {
  margin-left: 80px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3% 3% 0 3%;
  min-height: 100px;
}
.pictures {
  justify-content: left;
}

.guesses {
  max-width: 100px;
  width: 40%;
  min-height: 230px;
  height: fit-content;
  border: 2px solid rgb(0, 100, 146);
  color: rgb(0, 100, 146);
  font-size: 20px;
  justify-content: right;
}

.guesses > p {
  margin: 0 0 0 0;
}

.guesses ul {
  margin: 0 0 5px 0;
}

.guesses li {
  line-height: 19px;
}

.basic {
  width: 95%;
  max-width: 800px;
}
.head {
  width: 95%;
  max-width: 800px;
}
.eye1 {
  width: 95%;
  max-width: 800px;
}
.eye2 {
  width: 95%;
  max-width: 800px;
}
.nose {
  width: 95%;
  max-width: 800px;
}
.mouth {
  width: 95%;
  max-width: 800px;
}
.body {
  width: 95%;
  max-width: 800px;
}
.arm1 {
  width: 95%;
  max-width: 800px;
}
.arm2 {
  width: 95%;
  max-width: 800px;
}
.leg1 {
  width: 95%;
  max-width: 800px;
}
.leg2 {
  width: 95%;
  max-width: 800px;
}

.hide {
  display: none;
}
