body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(179, 179, 179);
  color: rgb(0, 158, 0);
}

.element {
  text-align: center;
  margin-top: 20px;
  color: rgb(39, 39, 39);
}

.inputOutput {
  display: flex;
  flex-direction: column;
}

.countAndRestart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px 11px 0 11px;
}
.countdown {
  display: flex;
  font-size: 25px;
  color: rgb(0, 100, 146);
}
.number {
  align-self: center;
  margin: 0 0 0 5px;
}
.text {
  align-self: center;
  margin: 0 0 0 0;
}
.inputSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  margin: 0 0 0 7vh;
  align-self: center;
  font-size: 30px;
  color: rgb(39, 39, 39);
}

#iname {
  width: 5vh;
  margin: 0 0 0 5px;
}

.result {
  align-self: center;
  margin: 20px 0 15px 0;
  font-size: 25px;
  color: rgb(39, 39, 39);
}

.wrong {
  color: rgb(168, 13, 13);
  font-size: 25px;
}

#button1 {
  margin: 0 10px 0 20px;
}

#button2 {
  margin: 0 0 0 20px;
  align-self: flex-start;
  justify-self: flex-end;
}

.flex-pictures {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3% 3% 0 3%;
  min-height: 80px;
}
.pictures {
  justify-content: flex-start;
}
.guesses {
  border: 2px solid rgb(0, 100, 146);
  border-radius: 15px;
  color: rgb(0, 100, 146);
  font-size: 25px;
  justify-content: flex-end;
}

.guesses > p {
  margin: 0 5px 0 5px;
}

.guesses ul {
  margin: 0 0 5px 0;
}

.guesses li {
  line-height: 25px;
  font-size: 25px;
}

/* Pictures*/
.basic {
  width: 95%;
  max-width: 600px;
}
.head {
  width: 95%;
  max-width: 600px;
}
.eye1 {
  width: 95%;
  max-width: 600px;
}
.eye2 {
  width: 95%;
  max-width: 600px;
}
.nose {
  width: 95%;
  max-width: 600px;
}
.mouth {
  width: 95%;
  max-width: 600px;
}
.body {
  width: 95%;
  max-width: 600px;
}
.arm1 {
  width: 95%;
  max-width: 600px;
}
.arm2 {
  width: 95%;
  max-width: 600px;
}
.leg1 {
  width: 95%;
  max-width: 600px;
}
.leg2 {
  width: 95%;
  max-width: 600px;
}

.hide {
  display: none;
}
